body {
    text-align: center;
    background-color: #d6ccc2;
    font-family: 'Short Stack', sans-serif;
}

.square {
    border: solid 1px #edede9;
    background-color: white;
}

/* .square:hover {
    background-color: black;
} */

#grid {
    display: flex;
    flex-wrap: wrap;
    border: solid 1px #edede9;
    text-align: center;
    margin: 50px auto;
}

button {
    font-family: 'Short Stack', sans-serif;
    background-color: #d5bdaf;
    border: solid 2px #e3d5ca;
    border-radius: 5px;
    font-size: 18px;
    width: 160px;
}